.wholeMap {
    position: absolute;
    width: 602px;
    height: 602px;
    left: 420px;
    margin: 0;
    padding: 0;
    border: 1px solid #000000;
    box-sizing: border-box;
}


#map {
    margin: 0;
    padding: 0;
    left: 720px;
}



